#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	install -d -m 0755 debian/tinhmenhdo-ubuntu/etc/skel
	install -m 0644 debian/tinhmenhdo.zshrc debian/tinhmenhdo-ubuntu/etc/skel/.zshrc
	ln -s tinhmenhdo.zshrc debian/tinhmenhdo-ubuntu/usr/share/tinhmenhdo-ubuntu/zshrc
